/*****************************/
/* CUSTOM COLOUR VARIABLES */
/*****************************/

:root {
  --myblue: #385988;
  --myblue-RGB: 56, 89, 136;
}

/*****************************/
/* BOOTSTRAP OVERRIDES */
/*****************************/

/* Changes the colour for the "navbar brand colour" */

.navbar {
  --bs-navbar-brand-color: #fff;
  --bs-navbar-active-color: var(--bs-navbar-brand-color);
  --bs-navbar-color: rgba(var(--bs-navbar-brand-color), 0.65);
}

/* adds the transition effect to the navbar links */

.navbar a {
  transition: ease-in-out 0.3s;
}

.navbar a:hover {
  color: var(--bs-navbar-brand-color);
  scale: 1.1;
}

/*****************************/
/* CUSTOM COLOUR CLASSES */
/*****************************/

.bg-myblue {
  background: var(--myblue) !important;
}

/*****************************/
/* HERO SECTION */
/*****************************/

#hero {
  background: linear-gradient(90deg, rgba(var(--myblue-RGB), 0.7), rgba(var(--myblue-RGB), 0.3)),  url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 40vh;
}